.help-us {
  margin-top: 100px;
  text-align: center;
}

.general-title {
  margin-bottom: 50px;
  font-size: 35px;
  color: #8B4513; /* Change text color to a lighter shade of brown */
  font-family: 'Arial Black', sans-serif; /* Apply a beautiful font */
}

.row {
  display: flex;
  justify-content: space-around; /* Center the items horizontally */
  margin: 0 auto; /* Center the row horizontally */
  max-width: 800px; /* Set a maximum width for the row */
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items vertically on smaller screens */
    max-width: 100px;
  }
}
